
@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

.hcart-stepper[data-v-4995aa8a] { 
    flex: 1 1 auto;
} 

.h-pt-32 { 
    padding-top: 32px!important;
} 

@media (min-width: 992px){ 
  .h-pt-48-lg { 
    padding-top: 48px!important;
  } 
}     

.cart-heading[data-v-61e194ec] { 
    display: flex; 
    flex-direction: column; 
    color: var(--meteorite--dark);
} 

@media (min-width: 992px){ 
  .cart-heading[data-v-61e194ec] { 
    align-items: center; 
    flex-direction: row;
  } 
}     

.hcart-stepper__wrapper[data-v-4995aa8a] { 
    display: flex; 
    gap: 24px; 
    position: relative;
} 

h1 { 
    font-weight: 700; 
    font-size: 40px; 
    line-height: 48px;
} 

@media (min-width: 992px){ 
  .order-0-lg { 
    order: 0!important;
  } 
}     

.order-1 { 
    order: 1!important;
} 

.flex-grow { 
    flex-grow: 1;
} 

.h-m-0 { 
    margin: 0!important;
} 

.order-1 { 
    order: 1;
} 

.hcart-stepper__container--left[data-v-4995aa8a] { 
    flex-grow: 1;
} 

.hcart-stepper__container--right[data-v-4995aa8a] { 
    height: fit-content; 
    display: flex; 
    flex-direction: column; 
    position: sticky; 
    top: 32px;
} 

.h-mt-32 { 
    margin-top: 32px!important;
} 

.cart-choose-period[data-v-96b1410f] { 
    align-items: stretch; 
    border-radius: 4px!important; 
    width: 100%; 
    box-shadow: 0 0 16px rgba(0,0,0,.08);
} 

.hcart-estimate[data-v-41baae78] { 
    flex-direction: column; 
    gap: 24px; 
    padding: 24px;
} 

.hcart-stepper__container--estimate[data-v-4995aa8a] { 
    box-shadow: 0 0 16px rgba(0,0,0,.08); 
    margin: 32px 0 24px; 
    min-width: 360px; 
    max-width: 360px; 
    background-color: var(--light); 
    height: fit-content; 
    display: flex; 
    border-radius: 4px;
} 

.body-1 { 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 24px;
} 

.hcart-stepper__money-back[data-v-4995aa8a] { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: var(--meteorite--dark); 
    position: sticky;
} 

.cart-periods-select[data-v-99b1077d] { 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    background-color: var(--light); 
    padding: 24px; 
    border-radius: 4px;
} 

.hcart-estimate--pricing--small[data-v-41baae78] { 
    display: none;
} 

.hcart-estimate--pricing[data-v-41baae78] { 
    display: flex; 
    flex-direction: column; 
    gap: 16px;
} 

@media (min-width: 768px){ 
  .d-none-md { 
    display: none!important;
  } 
}     

.hcart-estimate__divider[data-v-41baae78] { 
    border-bottom: 1px solid var(--border-gray);
} 

button { 
    font-weight: 700; 
    font-size: 16px; 
    line-height: 24px;
} 

.h-button[data-v-d16789f1] { 
    height: 48px; 
    font-size: 16px; 
    line-height: 24px; 
    text-align: center; 
    padding: 12px 16px; 
    border: 1px solid transparent; 
    border-radius: 8px; 
    position: relative; 
    overflow: hidden; 
    transition: all .3s; 
    cursor: pointer;
} 

.h-button.primary[data-v-d16789f1] { 
    background: var(--primary); 
    color: #fff; 
    border: 1px solid transparent;
} 

.h-button.primary[data-v-d16789f1]:hover { 
    background: var(--primary--dark);
} 

.h-icon[data-v-9a42e09a] { 
    display: inline-flex; 
    fill: var(--dark);
} 

.hcart-stepper__money-back span[data-v-4995aa8a]  { 
    margin-right: 8px;
} 

h3 { 
    font-weight: 700; 
    font-size: 24px; 
    line-height: 32px;
} 

.cart-periods-select__plan-name[data-v-99b1077d] { 
    color: var(--meteorite--dark); 
    margin: 0;
} 

.cart-periods-select__plan-container[data-v-99b1077d] { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-top: 1px solid var(--border-gray); 
    padding-top: 30px; 
    margin-top: 22px;
} 

small { 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 24px;
} 

@media (min-width: 992px){ 
  .text-center-lg { 
    text-align: center!important;
  } 
}     

.cart-plan__renew[data-v-95c370ca] { 
    color: var(--gray);
} 

.cart-periods-select__renewal[data-v-99b1077d] { 
    text-align: left!important; 
    padding: 12px 0 22px;
} 

.flex-column { 
    flex-direction: column!important;
} 

.d-flex { 
    display: flex!important;
} 

.h-p-0 { 
    padding: 0!important;
} 

.h-button.primary.text[data-v-d16789f1] { 
    border: 1px solid transparent; 
    background: transparent; 
    color: var(--primary);
} 

.hcart-estimate .h-button.text[data-v-41baae78]  { 
    height: 24px; 
    gap: 16px;
} 

.h-button.primary.text[data-v-d16789f1]:hover { 
    color: var(--primary); 
    background: var(--primary--light);
} 

.align-items-center { 
    align-items: center!important;
} 

.justify-content-space-between { 
    justify-content: space-between!important;
} 

.h-mt-8 { 
    margin-top: 8px!important;
} 

.h-button__content[data-v-d16789f1] { 
    text-align: center;
} 

.cart-periods-select__select[data-v-99b1077d] { 
    display: flex; 
    align-items: center; 
    gap: 24px;
} 

.cart-periods-select__pricing[data-v-99b1077d] { 
    display: flex; 
    align-items: center; 
    gap: 24px;
} 

.hcart-estimate__line-title[data-v-41baae78] { 
    display: flex; 
    align-items: center;
} 

.hcart-estimate__line-title[data-v-41baae78] { 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 24px;
} 

.hcart-estimate .success[data-v-41baae78]  { 
    color: var(--success);
} 

.h-select[data-v-5d1cba2b] { 
    position: relative; 
    box-sizing: border-box;
} 

.cart-periods-select__pricing--save[data-v-99b1077d] { 
    text-transform: uppercase; 
    white-space: nowrap;
} 

@media (min-width: 992px){ 
  .cart-periods-select__pricing--save[data-v-99b1077d] { 
    margin-left: 16px;
  } 
}     

.cart-periods-select__pricing--save[data-v-99b1077d] { 
    padding: 4px 16px; 
    border-radius: 100px; 
    background-color: var(--success); 
    font-weight: 700; 
    font-size: 14px; 
    color: var(--light);
} 

.cart-periods-select__pricing--price[data-v-99b1077d] { 
    color: var(--meteorite--dark); 
    display: flex; 
    flex-direction: column; 
    align-items: end; 
    min-width: 148px;
} 

h4 { 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 24px;
} 

.headline-pt { 
    font-weight: 700; 
    font-size: 20px; 
    line-height: 32px;
} 

.hcart-estimate h4[data-v-41baae78]  { 
    margin: 0;
} 

.old-price { 
    margin-right: 8px; 
    color: #6d7081;
} 

.old-price { 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 24px; 
    text-decoration: line-through;
} 

.body-4 { 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 24px;
} 

.hcart-estimate__price[data-v-41baae78] { 
    margin: 0; 
    font-weight: 700; 
    white-space: nowrap;
} 

.hcart-estimate h3[data-v-41baae78]  { 
    margin: 0;
} 

a { 
    color: var(--primary); 
    text-decoration: none; 
    transition: all .3s;
} 

a,.f-button { 
    font-weight: 700; 
    font-size: 16px; 
    line-height: 24px;
} 

a:hover { 
    text-decoration: underline;
} 

.h-input[data-v-b9e79988] { 
    width: 100%; 
    position: relative;
} 

.cart-periods-select__pricing--price h4[data-v-99b1077d]  { 
    margin: 0;
} 

.strike { 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 24px; 
    text-decoration: line-through;
} 

.cart-periods-select__pricing--price small[data-v-99b1077d]  { 
    color: var(--gray);
} 

.h-input__input-wrapper[data-v-b9e79988] { 
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    border-radius: 4px; 
    border: 1px solid var(--border-gray); 
    box-shadow: 0 0 0 transparent; 
    transition: border .3s,box-shadow .3s; 
    background: #fff; 
    padding-right: 16px;
} 

.h-form-field-label[data-v-40dff4fa] { 
    position: absolute; 
    top: 50%; 
    left: 16px; 
    transform: translateY(-50%); 
    z-index: 10; 
    pointer-events: none; 
    max-width: 100%; 
    font-size: 14px; 
    line-height: 24px; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 
    margin-bottom: 0; 
    transition: transform .15s cubic-bezier(.4,0,.2,1),width 0ms; 
    color: var(--gray);
} 

.h-form-field-label--filled[data-v-40dff4fa],.h-form-field-label--force-focused[data-v-40dff4fa] { 
    transform: translate(-8px,-34px) scale(.85); 
    transform-origin: 0 0; 
    padding: 0 4px; 
    max-width: calc(130% - 16px); 
    width: auto; 
    background: linear-gradient(to top,var(--light) 60%,transparent 60%); 
    margin: initial;
} 

.h-form-field-label--force-focused[data-v-40dff4fa] { 
    color: var(--gray);
} 

.h-input input[data-v-b9e79988] ,.h-input__input[data-v-b9e79988] { 
    padding: 11px 0 11px 16px; 
    font-size: 16px; 
    line-height: 24px; 
    outline: transparent; 
    background: transparent; 
    border: none; 
    width: 100%;
} 

.h-form-field-icon[data-v-9eec7791] { 
    display: flex; 
    align-items: center; 
    z-index: 10; 
    margin-bottom: 0; 
    cursor: pointer;
} 

.h-ml-8 { 
    margin-left: 8px!important;
} 

.h-icon.primary[data-v-9a42e09a] { 
    fill: var(--primary);
} 


